html {
    --ButtonColor: #DE851D;
}




/* Navigation og header*/

i {
    font-size: 20px;
    color: white;
    padding: 0px;
}


nav {
    position: fixed;
    right: 0px;
    left: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header {
    background-image: url(../billeder/Header_Forside.png);
    height: 21vh;
    background-repeat: no-repeat;
    height: 202px;
}


/* Main indhold */

main {
    display: block;
}

main h2 {
    text-align: center;
    margin-bottom: 0px;
}

h1 {
    margin-top: 4px;
}

main>article:first-of-type p {
    width: 36ch;
}

section {
    box-shadow: none;
    border-radius: 0px;
}

img {
    width: auto;
}

.oversigt h2 {
    text-align: left;
    margin: 0px;
}

.oversigt {
    display: flex;
    justify-content: space-between;
}

.oversigt i {
    margin-right: 10px;
    color: var(--ButtonColor);
}

section>article:last-of-type p:last-of-type {
    width: 37ch;
}

hr {
    margin-right: 9px;
    border: 1.5px solid grey;
    margin-bottom: 30px;
}