html{
    --ButtonColor: #DE851D;
}



/* Navigation */
span{
    color: red;
}

i{
    font-size: 32px;
    color: white;
    padding: 0px;
}

.burger-menu{
    background-color: var(--ButtonColor);
    padding: 8px 16px 8px 16px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}


nav{
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header{
    background-image: url(../billeder/Header_Forside.png);
    height: 25.25vh;
    background-repeat: no-repeat;
}