html{
    --ButtonColor: #DE851D;
}




/* Navigation og header*/
span{
    color: red;
}

i{
    font-size: 32px;
    color: white;
    padding: 0px;
}

.burger-menu{
    background-color: var(--ButtonColor);
    padding: 8px 16px 8px 16px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}


nav{
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header{
    background-image: url(../billeder/Header_Forside.png);
    height: 21vh;
    background-repeat: no-repeat;
}


/* Main indhold */

main{
    display: block;
}
h2{
    text-align: center;
    margin-bottom: 0px;
}

h1{
    margin-top: 4px;
}

main>article:first-of-type p{
    width: 36ch;
}

section{
    box-shadow: none;
    border-radius: 0px;
}

img{
    width: auto;
}



