main{
    display: block;
    padding-top: 0px;
}

nav{
    position: fixed;
    right: 0px;
    left: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header{
    background-image: url(../billeder/Header_Forside.png);
    height: 21vh;
    background-repeat: no-repeat;
}

span{
    color: red;
    position: absolute;
    left: 46px;
    top: 13.5px;
    background-color: red;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.LiveButton{
    position: relative;
}

i{
    font-size: 20px;
    color: white;
    padding: 0px;
}

.burger-menu{
    background-color: var(--ButtonColor);
    padding: 8px 16px 8px 16px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.breadcrumb{
    display: flex;
    list-style-type: none;
    padding: 0px 0px 0px 0.8rem;
}
.breadcrumb li{
    font-size: 10px;
}

.breadcrumb li:first-of-type{
    color: #BFBDBB;
}

ul.breadcrumb{
    margin-bottom: 0px;
}

.location{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.location div{
    display: flex;
    flex-direction: column-reverse;
}


.spotify{
    border-radius: 14px;
}



a{
    text-decoration: none;
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: white;
}



h2:first-of-type{
    width: 20ch;
    margin-bottom: 0px;
}

.spillested{
    margin: 6px 0px 0px 0px;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

#location{
    color: var(--ButtonColor);
}

.km{
    margin: 10px 0px 0px 0px;
}

.price{
    font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
  margin-top: 6px;
}
