@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    --ButtonColor: #DE851D;
}

main {
    padding: 1rem 2rem 1rem 2rem;
}


body {
    margin: 0px;
    background-color: #EDE9DC;
}

p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

}

body {
    font-family: "Poppins", sans-serif;
}

h1 {
    font-weight: 800;
    font-style: normal;
    font-size: 32px;
    text-align: center;
}

h2 {
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
}

h3 {
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
}

h4 {
    font-size: 18px;
}


button {
    background-color: var(--ButtonColor);
    padding: 8px 1rem 8px 1rem;
    border-radius: 1rem;
    border: none;
    color: white;
}

.datoTid {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

/*styling af body*/
/*Styling af header*/
.hero img {
    height: 202px;
    width: auto;
}

/*styling af main*/
.filter {
    display: flex;
    justify-content: space-between;
}

.filter button {
    background-color: transparent;
    border: 2px solid var(--ButtonColor);
    padding: 8px 1rem 8px 1rem;
    border-radius: 1rem;
    color: black;
}

/* Card */
a {
    text-decoration: none;
}

i {
    font-size: 16px;
    color: var(--ButtonColor);
    padding-right: 1rem;
}

.wrapper {
    display: flex;
    flex-direction: column-reverse;
    gap: 0.6rem;
}

.wrapper p {
    margin: 0px;
    font-weight: 300;
    font-style: italic;
    color: #35373B;
}

.kunstnerNavn {
    margin-top: 0px;
    color: black;
    margin-bottom: 0.6rem;
    padding-right: 10px;
}

.cards section {
    margin-top: 25px;
    box-shadow: rgba(77, 76, 76, 0.35) 0px 5px 15px;
    border-radius: 8px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

img {
    width: 100%;
    height: 115px;
    object-fit: cover;
}

.MoveToRight {
    padding-left: 10px;
}

.wrapper p:first-of-type {
    margin-bottom: 10px;
}

.remove {
    display: none;
}

/*styling af cards omkring spillesteder*/

hr {
    border: 1px solid black;
    margin-block: 25px;
}

h2 {
    text-align: center;
}

.cardsSpillesteder {
    background-color: white;
    margin-top: 25px;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.cardsSpillesteder h3,
span,
p {
    padding-inline: 10px;
}

.cardsSpillesteder h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.cardsSpillesteder p {
    margin-top: 10px;
    margin-bottom: 25px;
}

.cardsSpillesteder a {

    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 25px;
}

.cardsSpillesteder span {
    font-weight: 200;
    font-style: italic;
    color: #35373B;
}

.carousel {
    position: relative;
    height: 600px;
    width: 275px;
    margin: 0 auto;
}

.carouselButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;

}

.carouselButtonLeft {
    left: -40px;
}

.carouselButtonRight {
    right: -40px;
}

.carouselButton img {
    width: 12px;
}

.carouselNav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.carouselIndicator {
    padding: 0;
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin: 0 8px;
    background-color: rgb(0, 0, 0, .5);
}

.carouselIndicator.currentSlide {
    background-color: rgb(0, 0, 0, .90);
}


/*stylling af footer*/
footer {
    background: linear-gradient(to bottom, rgba(237, 233, 220, 0.1), #DFDFDE);
    padding: 1rem 2rem 1rem 2rem;
}

footer>div i {
    color: #316FF6;
    padding-bottom: 1rem;
}

.fbicon {
    display: flex;
    justify-content: center;
}

footer p:first-of-type {
    margin-bottom: 32px;
}


/* .cards a{
    min-width: 174px;
    min-height: 220px;
}

.cards section{
    width: 100%;
    height: 100%;
} */